.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.page-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

#page-num,
#page-count {
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  font-size: 35px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 40px;
}

section {
  width: 40%;
  border-radius: 5px;
  padding: 20px;
  font-weight: 400;
  background-color: #f7f7f7;
  color: #1a1a1a;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score-title {
  margin: 0px;
  display: inline;
}

#date {
  padding-right: 20px;
  margin: 0px;
  display: inline;
}

h3 {
  margin: 0px;
  color: #000000;
  font-weight: 400;
}

section p {
  color: #333333;
}

a {
  color: #6a6a6a;
}

.no-margin {
  margin: 0;
}

#version-txt {
  margin-bottom: 1rem;
}

#contributers-txt {
  display: inline;
}

#involved-list {
  list-style: none;
  padding-left: 10px;
  display: inline;
}

#involved-list li {
  display: inline;
}

#involved-list li a:first-child {
  padding-left: 0;
}

canvas {
  width: 80%;           
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;       
  margin: 0 auto; 
}

@media screen and (max-width: 1283px) {
  section {
    width: 30%;
  }
}

@media screen and (max-width: 1103px) {
  section {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  section {
    width: 45%;
  }
}

@media screen and (max-width: 696px) {
  section {
    width: 90%;
    margin: 10px;
    margin-bottom: 40px;
  }
}
