html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "stevie-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 22px;
  justify-content: flex-end;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover,
a:active {
  color: black;
  text-decoration: none;
}

header img {
  height: 50px;
}

.column {
  text-align: center;
}

#image_background img {
  width: 100%;
  margin-top: 0px;
}

#button-container {
  display: flex;
  justify-content: center;
}

#content {
  flex: 1;
}

#center-button {
  margin-top: -30px;
  height: 35px;
  width: 200px;
  font-size: 16px;

  font-family: "stevie-sans-", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;

  text-align: center;
  border-style: none;
  background-color: #ffc818;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#logo-link {
  padding: 0;
  margin: 0;
  display: inline-block;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #navigation {
    justify-content: center;
    flex-direction: column;
  }

  #navigation a {
    padding: 8px;
    font-size: 18px;
  }

  header img {
    height: 60px;
    margin-bottom: 10px;
  }
}
